// =========== Layout

.l-full {
    @include grid(48, 1);
    @media only screen and ($media-type: $media-phone) { @include grid-reset; }
}
.l-two-third {
    @include grid(32, 1);
    @media only screen and ($media-type: $media-phone) { @include grid-reset; }
}
.l-half {
    @include grid(24, 1);
    @media only screen and ($media-type: $media-phone) { @include grid-reset; }
}
.l-one-third {
    @include grid(16, 1);
    @media only screen and ($media-type: $media-phone) { @include grid-reset; }
}
.l-grid {
    @include clearfix;
    li { @include grid(16, 1); }
}
.l-first { clear: left; }

.l-container {
    @include clearfix;
    margin: auto;
    padding: 80px 10px;
    max-width: $max-width;

    @media only screen and ($media-type: $media-phone) { padding: 40px 10px;}
}
