$font-family: Open Sans, sans-serif;
$headings-font-family: $font-family;
$font-size: 14px;

$grid-columns: 48;
$max-width: 960px;
$margin-bottom: 1.25rem;

$media-type: max-width;
$media-desktop: 960px;
$media-tablet: 769px;
$media-phone: 520px;

$color-brand: #ac0101;
$color-success: #679b23;
$color-alert: #d65223;

$black: #000000;
$gray: #eaeaea;
$white: #fff;
